body{
    font-family: 'Poppins', sans-serif;
}
.moto{
    margin: 0px;
}

.top-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    place-items: center;
 
   
}
.title{
    color:  blue;
}
.top-img{
    width: 100%;
}
.top-img:hover{transform: rotate(60deg);}
.button{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
        padding: 10px;
    border-radius: 15px;
}
.section-margin{
    margin-top: 100px;
    margin-bottom: 50px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 30px;
}
h2{text-align: center;}
.company-logo{
    display: grid;
    grid-template-columns: repeat(7,1fr);
 
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* padding-right: 30px;
    padding-left: 30px; */
 
   
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.rating{
    margin-left: 10px;
}
.card-details{
    width: 69%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 15px;
margin-left: 5%;
margin-right: 5%;
}
.card-info{
    margin-top: 10px;
}
.card-info img{
    width: 100%;
}
.see{text-align: right;
padding-left: 100px;
text-decoration: none;
}
.see a{text-decoration: none;
    color: #E02C6D;
    font-size: 20px;
    margin-top: 10px;
    }
 
 
        /*-------------------- for Mobile------------------ */
        @media only screen and (min-width: 320px) and (max-width: 480px) {
            .top-section{
               
               display: grid;
               grid-template-columns: repeat(1,1fr);          
            }
            .top-img:hover{transform: rotate(60deg);}
            .top-section img{
                width: 100%;
            }
            .company-logo{
                display: grid;
                grid-template-columns: repeat(2,1fr);
            }
            .cards{
                display: grid;
                grid-template-columns: repeat(1,1fr);
            }
            footer{
                background-color: #c46b8b;
                text-align: center;
                color: white;
               
            }
            .social-logo>i{
                font-size: 40px;
            }
        }
    /* -------------------For Tab----------------- */
    @media only screen and (min-width: 481px) and (max-width: 769px) {
        .top-section{
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
        .top-img:hover{transform: rotate(60deg);}
        .company-logo{
            display: grid;
            grid-template-columns: repeat(7,1fr);}
            .cards{
                display: grid;
                grid-template-columns: repeat(2,1fr);
            }
            footer{
                background-color: #c46b8b;
                text-align: center;
                color: white;
               
            }
            .social-logo>i{
                font-size: 40px;
            }

   
    }
    /*----------------------- For  Medium to Big Screen ---------------*/
    @media only screen and (min-width: 769px) and (max-width: 1201px){
        .top-section{
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
        .top-img{transform: rotate(15deg) scale(1.4) ;
        -webkit-transform: rotate(15deg) scale(1.4);
        transition: .3s ease-in-out;
        -webkit-transform:.3s ease-in-out ;
        }
        .top-img:hover{
            transform: rotate(0) scale(1);
            -webkit-transform: rotate(0) scale(1) ;
        }
        .company-logo{
            display: grid;
            grid-template-columns: repeat(7,1fr);}
            .cards{
                display: grid;
                grid-template-columns: repeat(2,1fr);
            }
            footer{
                background-color: #c46b8b;
                text-align: center;
                color: white;
               
            }
            .social-logo>i{
                font-size: 40px;
            }
   
    }
/*---------------------- Footer---------------------- */
footer{
    background-color: #c46b8b;
    text-align: center;
    color: white;
   
}
.social-logo>i{
    font-size: 40px;
}
